[submodule "reqs/simple-opt"]
	path = reqs/simple-opt
	url = https://git.airen-no-jikken.icu/ageha/simple-opt.git
[submodule "reqs/uthash"]
	path = reqs/uthash
	url = https://github.com/troydhanson/uthash.git
[submodule "reqs/simple-test"]
	path = reqs/simple-test
	url = https://git.airen-no-jikken.icu/ageha/simple-test.git
